<div class="row">
  
</div>
<nav class="navbar  p-2">

  <div class="navbar-content col-12 col-md-12 col-sm-12 col-xs-12 col-lg-7 col-xl-7">
    <form class="search-form">
      <div class="input-group mb-2">
        <div class="input-group-text">
          <i class="bi bi-search"></i>
        </div>
        <input type="text" class="form-control" id="navbarForm" placeholder="Search here..." (input)="shearch($event)">
      </div>

      <div class="form-check form-check-inline mt-2 " *ngFor="let item of opcionesFiltro; let i = index">
        <input class="form-check-input pointer" type="radio" name="inlineRadioOptions" id="inlineRadio{{i}}" [value]="item" [checked]="optionSeledted.value === item.value" (change)="changeFilter(item)">
        <label class="form-check-label pointer" for="inlineRadio{{i}}">{{item.name}}</label>
      </div>
      
    </form>

  </div>
</nav>

<div class="row  d-flex justify-content-center align-items-center m-2">
  <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-10 col-xl-10  stretch-card ">
    <div class="card">
      <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading  fixed-columns">
          <div class="table-responsive">

            
            <div class="dataTable-container">
              <table id="dataTableExample" class="table table-hover" >
            
                <thead>
                  <tr >
                    <th></th>
                    <th>{{ 'NAME'  }}</th>
                    <th >{{ 'FOOD'  }}</th>
                    <th>{{ 'YEAST'  }}</th>
                    <th >{{ 'MALT'  }}</th>
                    <th >{{ 'HOPS'  }}</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let item of beersList | async"  class="pointer result-item">
                    <td class="imagen">
                        <img  class="img-xs" [src]="item.image_url" >
                    </td>
                    <td>{{item.name}}</td>
                    <td class="food"><label *ngFor="let value of item.food_pairing">{{ value.concat('.') }}<br></label></td>
                    <td >{{item.ingredients.yeast  }}</td>
                    <td class="ingredients"><label *ngFor="let value of item.ingredients.malt">{{ value.name.concat('.') }}<br></label></td>
                    <td class="ingredients"><label *ngFor="let value of item.ingredients.hops">{{ value.name.concat('.') }}<br></label></td>
                   
                  </tr>
                 
                </tbody>
                
                <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>

          
           
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>
